<div class="content-container post-content-container">
  <h2>Edit post</h2>

  <%= link "← Back", to: post_path(@conn, :index) %>
  <%= render "form.html", conn: @conn,
                          post: @post,
                          changeset: @changeset,
                          action: post_path(@conn, :update, @post) %>
  <%= link "Delete", to: post_path(@conn, :delete, @post), method: :delete, data: [confirm: "Are you sure?"] %>
</div>
<script>
  <%= if Map.get(@changeset.changes, :content, nil) do %>
    var content = "<%= escape_javascript {:safe, Map.get(@changeset.changes, :content, "")} %>";
  <%= else %>
    var content = "<%= escape_javascript {:safe, Map.get(@changeset.data, :content, "")} %>";
  <%= end %>
</script>
<script src="<%= static_path(@conn, "/js/mdEditor.js") %>"></script>
