<div class="content-container post-content-container">
  <h2>New post</h2>
  
  <%= link "←  Back", to: post_path(@conn, :index) %>
  <%= render "form.html", changeset: @changeset,
                          action: post_path(@conn, :create) %>
</div>
<script>
  <%= if Map.get(@changeset.changes, :content, nil) do %>
    var content = "<%= escape_javascript {:safe, Map.get(@changeset.changes, :content, "")} %>";
  <%= else %>
    var content = "";
  <%= end %>
</script>
<script src="<%= static_path(@conn, "/js/mdEditor.js") %>"></script>
