<div class="content-container">
  <div class="post-text">
    <div class="span-whole-page" style="<%= @post.banner_bg_color %>;color:<%= @post.banner_fg_color %>;">
      <div class="page-nav">
        <%= link "← Back", to: post_path(@conn, :index), style: "color:" <> @post.banner_fg_color %>
        <%= if @current_user do %>
          &nbsp;
          <%= link "Edit", to: post_path(@conn, :edit, @post), style: "color:" <> @post.banner_fg_color %>
        <% end %>
      </div>
      <div class="just-center">
        <h1><%= @post.title %></h1>
        <h4><%= @post.summary %></h4>
      </div>
    </div>
    <div class="post-body">
      <%= as_html(@post.content) %>
      <h6 class="just-right">Written by <%= @post.author %><br/><%= format_date(@post.inserted_at) %><%= if @post.updated_at do %> <i>(Last updated: <%= format_date(@post.updated_at) %>)</i><%= end %></h6>
    </div>
  </div>
</div>
